/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Tira/nbproject/private/
/laskarit/viikko2/Tira/build/
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/FitMe/target/
/laskarit/viikko2/JavaFXApplication/nbproject/private/
/laskarit/viikko2/JavaFXApplication/build/
/laskarit/viikko2/JavaFXApplication/dist/

test.db
/FitMe/target/
/nbproject/
/FitMe/nbproject/
